.listContainer{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
  justify-content:center
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #e0e0e0;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}
.pageSizeInput {
  margin-top: 10px;
}

.pageSizeInput label {
  margin-right: 5px;
}
